{% extends "base.html" %}
{% block metadescription %}
Verify the cart items and proceed to order
{% endblock %}
{% block title %}
Cart - Store
{% endblock %}
{% block content %}
{% if not cart_items %}
<div class="">
  <div class="text-center">
    <br>
    <h1 class="text">
      Your cart is empty.
    </h1>
    <br>
    <p class="text-center">
      Please click <a href="{% url 'shop:all_products' %}">here</a> to continue shopping
    </p>
  </div>
</div>
{% else %}
<div class="">
  <div class="text-center">
    <h1>Your shopping cart</h1>
    <br>
  </div>
</div>
<div class="row mx-auto">
  <div class="col-md-12 col-sm-12 col-12 col-lg-6 text-center">
    <table class="table my-table">
      <thead class="table-head">
        <tr>
          <th colspan="5">
            Shopping items
          </th>
        </tr>
      <tbody>
        {% for item in cart_items %}
        <tr>
          <td>
            <a href="{{item.product.get_absolute_url}}">
              <img src="{{item.product.image.url}}" alt="" class="
               cart-image">
            </a>
          </td>
          <td class="text-left">
            {{item.product.name}}
            <br>
            SKU: {{item.product.id}}
            <br>
            Unit Price: {{item.product.price}}
            <br>
            Quantity: {{item.quantity}} x {{item.product.price}}
            <br>
            <hr>
            <div class="text-center">
              {% if item.quantity < item.product.stock %}
              <a href="{% url 'cart:add_cart' item.product.id %}" class="custom-link">
                <i class="fas fa-plus-circle custom-fa"></i>
              </a>
              &nbsp;
              <a href="#" class="custom-link">
                <i class="fas fa-minus-circle custom-fa"></i>
              </a>
              &nbsp;
              <a href="#" class="custom-link">
                <i class="fas fa-trash-alt custom-fa"></i>
              </a>
              {% else %}
              <a href="#" class="custom-link">
                <i class="fas fa-minus-circle custom-fa"></i>
              </a>
              &nbsp;
              <a href="#" class="custom-link">
                <i class="fas fa-trash-alt custom-fa"></i>
              </a>
              {% endif %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      </thead>
    </table>
  </div>
  <div class="col-md-12 col-sm-12 col-12 col-lg-6 text-center">
    <table class="table my-table">
      <thead class="table-head">
        <tr>
          <th>
            checkout
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Review your shopping cart items before proceeding to payment
          </td>
        </tr>
        <tr>
          <td>
            your payble total is : <strong>{{total}}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-auto">
      <a href="{% url 'shop:all_products' %}" class="btn btn-secondary btn-block"> Continue Shopping </a>
    </div>
  </div>
</div>
<br>
{% endif %}
{% endblock %}