.masthead {
  height: 100px;
  min-height: 50px;
  background-size: cover;
}
.row-class{
  padding-top: :15px;
}
.row-class .mx-auto p {
  color: :#000;
  font-size:12px;
}
.row-class .mx-auto p a {
  color: :#000;
  font-size:12px;
  text-decoration: none;
}
.mx-image{
  width: 100%;
  height: auto;
}
.description{
  font-size: 16px;
}
.search_text{
  padding-top: 5px;
}
.product-card{
  padding:10px;
}
.my-table{
min-width: 200px
}
