{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
{% if category %}
{{category.description|truncatewords:155}}
{% else %}
Welcome to the store
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
{{category.name}} - Store
{% else %}
Welcome to the store
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div class="row row-class">
  <div class="mx-auto">
    <p>
      <a href="{% url 'shop:all_products' %}"> Our product Collections
      </a> | {{category.name}}
    </p>
  </div>
</div>
<div class="row mx-auto">
  <img class="mx-image" !style="height:500px;width:1110px;" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div class="">
  <h1 class="text-center mx-title">{{category.name}}</h1>
  <p class="description text-center">{{category.description}}</p>
</div>
{% endif %}

<div class="jumbotron">
  <div class="">
    <div class="row">
      {% for product in products %}
      <div class="col-md-4">
        <a href="{{product.get_url}}">
          <div class="card" style="width:100%;">
            <div class="text-center">
              <img class="card-img-top img-responsive" style="height:250px" src=" {{product.image.url}}" alt="{{product.name}}">
            </div>
            <div class="card-body">
              <h4 class="card-title">{{product.name}}</h4>
              <p class="card-text">₹{{product.price}}</p>
            </div>
        </a>
      </div>
    </div>
    {% endfor%}
  </div>
</div>
</div>
{% endblock %}