{% extends 'base.html' %}
{% load staticfiles %}
{% block metadescription %}
{{ product.description|truncatewords:155 }}
{% endblock %}
{% block title %}
{{ product.name }} - Store
{% endblock %}

{% block content %}
<div class="">
  <div class="">
    <p>
      <a href="{% url 'shop:all_products' %}">Home</a>|
      <a href="{{ product.category.get_url }}">{{product.category}}</a>|
      {{product.name}}
    </p>
  </div>
  <div class="">
    <br>
    <div class="">
      <div class="">
        <div class="">
          <img src="{{product.image.url}}" alt="{{product.name}}">
        </div>
      </div>
      <div class="">
        <div class="">
          <h1>{{product.name}}</h1>
          <p>₹{{product.price}}</p>
          <p>{{product.description}}</p>
          {% if product.stock <= 0 %}
          <p>
            <b>Out of Stock</b>
          </p>
          {% else %}
          <a href="">Add to Cart</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}